target
.idea
atomikos
statistics
logs
transaction-logs

# pom.xml

# *.xml.bak
*rebel.xml
rebel-*.xml
*.classpath
*.settings
*.project
*.iml
*.vscode/
.DS_Store
/.DS_Store
hs_err_pid*
cscope.*

build.sh

config_custom.yml

docker/support/.env
docker/support/.env

engine/src/main/config/env.properties